body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    margin: 0;
}


/* Header */

#header-logo {
    font-size: large;
    font-weight: 800;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
    background-color: rgb(11, 16, 48);
    padding: 5px;
    flex-direction: column;
    color: white;
    padding: 10px 70px 70px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

button {
    background-color: rgb(27, 85, 192);
    padding: 7px 20px;
    color: white;
    border-radius: 6px;
    border: 0px;
}

/* content-white */

.content-white {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.rounded-boxes {
    display: flex;
    gap: 20px;
    flex-grow: 0;
    justify-content: center;

}

.big-box {
    display: flex;
    flex-direction: column;
}

.box {
    border: 3px solid rgb(27, 85, 192);
    padding: 70px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    
}



